%table.table
  %thead
    %th{data: {header: 'node'}} Node
    %th{data: {header: 'name'}} Name
    %th{data: {header: 'type'}} Type
    %th{data: {header: 'profile'}} Profile
    %th{data: {header: 'capacity'}} Capacity [kW]
    %th{data: {header: 'storage'}} Storage volume [kWh]
    %th{data: {header: 'demand'}} Yearly demand [kWh]
    %th{data: {header: 'units'}} Units

  %tbody
    - testing_ground_profile.each_pair do |node, technologies|
      - technologies.each do |technology|
        %tr
          %td= node
          - technology.slice(*InstalledTechnology::EDITABLES).values.each do |value|
            %td.editable= value

          %th
            = link_to "#", class: "add-row text-success" do
              %span.glyphicon.glyphicon-plus
          %th
            = link_to "#", class: "remove-row text-danger" do
              %span.glyphicon.glyphicon-remove
