#menu
%ul.nav.nav-tabs
  %li.load= link_to 'Load', testing_ground_path(testing_ground)
  %li.gas_load= link_to 'Gas load', gas_load_testing_ground_path(testing_ground)
  %li.business_case= link_to 'Business case', testing_ground_business_case_path(testing_ground, testing_ground.business_case)
