%h2
  %span= "Compare business case from #{@testing_ground.name} with"
  %span.compare
    %select.form-control
      = options_for_testing_grounds

%table.table.table-bordered.compare
  %thead
    %tr
      %th
      %th In
      %th Out
      %th Cor
      %th Total

  %tbody
    %tr
      %td Hoi
      %td 0.0
      %td 0.0
      %td 0.0
      %td 0.0
