.header
  %h1 Gas load
  .clearfix

= render 'side_menu', testing_ground: @testing_ground

#gas-chart

  .chart-holder
    %h2 Chart
    .graph.line-chart{ data: { type: 'gas_load_chart', url: fake_gas_load_testing_ground_gas_asset_list_path(@testing_ground, @testing_ground.gas_asset_list), curve_type: 'gas', width: 475 } }

  - if @testing_ground.gas_asset_list
    .chart-holder
      %h2 Gas - Stacked
      .graph.stacked-pressure-load-chart{ data: { poll: true, url: load_summary_testing_ground_gas_asset_list_path(@testing_ground, @testing_ground.gas_asset_list), type: 'stacked_bar' } }

