.header
  %h1 Gas load
  .clearfix

= render 'side_menu', testing_ground: @testing_ground, strategies: false

- if @testing_ground.gas_asset_list
  #gas-chart
    .chart-holder
      %h2
        Load on the gas network
        %span.loading-spinner
          = image_tag 'wait.gif'
      .graph.line-chart{ data: { type: 'static_load_chart', url: gas_load_testing_ground_gas_asset_list_path(@testing_ground, @testing_ground.gas_asset_list), curve_type: 'gas', view_as: 'total', resolution: 'low' } }

    .chart-holder
      %h2
        Yearly gas flow
        %span.loading-spinner
          = image_tag 'wait.gif'
      .graph.stacked-pressure-load-chart{ data: { poll: true, url: load_summary_testing_ground_gas_asset_list_path(@testing_ground, @testing_ground.gas_asset_list), type: 'stacked_bar' } }

- else
  .alert.alert-info
    %strong No gas assets:
    This is an old LES and has no gas assets installed. Please create a new LES
    if you wish to compute a gas network.
