.header
  %h1 Gas
  .clearfix

= render 'side_menu', testing_ground: @testing_ground

#gas-chart
  - if @testing_ground.gas_asset_list
    .graph.stacked-pressure-load-chart{ data: { poll: true, url: load_summary_testing_ground_gas_asset_list_path(@testing_ground, @testing_ground.gas_asset_list), type: 'stacked_bar' } }

