%h1 Previously saved Local Energy Solutions

%table.table.table-striped
  - @testing_grounds.each do |tg|
    %tr
      %td= link_to tg.name, testing_ground_path(tg)
      %td= tg.created_at.to_formatted_s(:long)
