%h2 Market model

.help-block
  %p
    The table allows you to define financial transactions between stakeholders.
    The selected &ldquo;Measure&rdquo; will be applied on the nodes in the
    electricity topology which are assigned to the stakeholder selected in the
    &ldquo;Measured at stakeholder&rdquo; field. More information can be found
    in the
    = succeed '.' do
      %a(href="https://github.com/quintel/etmoses/wiki/Market-Models")
        documentation

