%h1
  = @market_model.name
%table.interactions.table
  %tr
    %th Stakeholder from
    %th Stakeholder To
    %th Measure
    %th (not used)
    %th Tariff Type
    %th Tariff Price
  - @market_model.interactions.each do |interaction|
    %tr
      - interaction.each_value do |value|
        %td= value

= link_to "Edit", edit_market_model_path(@market_model)
= link_to "Destroy", market_model_path(@market_model), method: :delete, data: { confirm: "Are you sure?" }
