// Place all the styles related to the topology controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.testing-ground-view {
  border: 20px solid #eee;
  margin: 20px 0;
  padding: 20px 0;

  .error {
    padding: 0 20px;

    .message {
      clear: none;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }

    .detail, .backtrace {
      font-size: 14px;
      margin-bottom: 0;
    }

    .backtrace {
      color: #777;
      font-size: 12px;
    }
  }

  .node rect {
    fill: white;
    stroke: #ccc;
    stroke-width: 1.5px;
    border-top: 1px solid black;
  }

  .node {
    cursor: default;
    font: 12px sans-serif;

    &:hover rect {
      cursor: pointer;
      stroke: #555;
    }
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }
}

.point-changer {
  input[type=text] {
    height: 24px;
    width: 50px;
  }
}

.new_testing_ground, .edit_testing_ground {
  textarea {
    display: block;
    font: 13px/17px monospace;
    margin: 10px 0;
    padding: 5px;
    min-height: 300px;
    width: 600px;
  }

  .ace_editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    font: 14px/18px monospace;
  }

  .editor-wrap {
    border: 1px solid #ccc;
    height: 400px;
    position: relative;
    width: 800px;
    margin: 0 0 2.5rem;
  }
}

#technologies .technology {
  background: #eee;
  border-radius: 5px;
  font-size: 13px;
  margin-bottom: 20px;

  .inner {
    padding: 5px 10px;
  }

  &:hover {
    cursor: pointer;
  }

  &.common {
    border: 2px solid #999;

    .inner {
      padding: 3px 8px;
    }
  }

  .quiet {
    color: #777;
  }
}

.or {
  font-size: 11px;
  font-weight: 600;
  padding: 0 1rem;
  text-transform: uppercase;
  color: #888;
}

.errors {
  color: #a31c1c;
}

form.inline .field_with_errors {
  display: inline-block;

  input[type=text], select {
    background: #fee;
    border-color: #a31c1c;
  }
}
