%h5 Topologies

#choose-start
  = link_to 'Create a new hand-made topology', new_topology_path, class: 'button button-primary'
  %span.or or
  = link_to 'Create topology imported from ETE', import_topologies_path, class: 'button'

%ul
  - @topologies.each do |topology|
    %li= link_to "Topology: #{ topology.created_at.to_formatted_s(:long) }", topology_path(topology)
