%h2 Primary heat infrastructure
.help-block
  %p 
    The table below lists the transport pipes between your sources and the 
    feed-in point of the heat network in your LES. You can edit the cost 
    aspects of this primary infrastructure here. The lengths of pipes are 
    determined by the distance of the sources in the Heat source tab. 
    More information can be found in the 
    <a href='https://github.com/quintel/etmoses/wiki/Heat-network'>documentation</a>.
%table.table.interactions.heat_asset_list.multi_table.primary{ data: { type: 'heat_asset_list_table' } }
  %thead
    %tr
      %th.col-sm-3{ data: { header: 'type' } } Type of pipe
      %th{ data: { header: 'distance' } } Distance [km]
      %th{ data: { header: 'heat_source' } } Associated with source
      %th{ data: { header: 'investment_costs_per_km' } } Investment [EUR/km]
      %th{ data: { header: 'om_costs_per_year_per_km' } } O&amp;M costs [EUR/km]
      %th{ data: { header: 'technical_lifetime' } } Technical lifetime [Y]
      %th{ data: { header: 'stakeholder' } } Stakeholder
      %th.hidden{ data: { header: 'scope' } }

  %tbody
    - heat_asset_list.select(&:primary?).each do |list_item|
      %tr
        %td.editable
          %select.form-control.key
            = options_for_primary_heat_assets(list_item.type)

        %td.editable
          %input.form-control{name: 'distance', value: list_item.distance, disabled: 'disabled'}

        %td.editable
          %select.form-control.type{disabled: 'disabled'}
            = options_for_heat_source_plant_types(list_item.heat_source)

        %td.editable
          %input.form-control{name: 'investment_costs_per_km', value: list_item.investment_costs_per_km}

        %td.editable
          %input.form-control{name: 'om_costs_per_year_per_km', value: list_item.om_costs_per_year_per_km}

        %td.editable
          %input.form-control{name: 'technical_lifetime', value: list_item.technical_lifetime}

        %td.editable
          %select.form-control.stakeholder
            = options_for_all_stakeholders(list_item.stakeholder)

        %td.editable.hidden
          %input.form-control{name: 'scope', value: 'primary'}
