%h2 Secondary network

.hidden.heat_asset_list.connections
  %input.heat_connections{name: 'heat_connections', value: 0.0}

%table.table.interactions.heat_asset_list.multi_table{ data: { type: 'heat_asset_list_table'  } }
  %thead
    %tr
      %th.col-sm-3{ data: { header: 'type' } } Type
      %th{ data: { header: 'investment_costs' } } Investment [kEUR]
      %th{ data: { header: 'om_costs_per_year' } } O&M costs [EUR]
      %th{ data: { header: 'technical_lifetime' } } Technical lifetime [Y]
      %th{ data: { header: 'stakeholder' } } Stakeholder
      %th{ data: { header: 'connection_distribution' } } Percentage of heat connections [%]
      %th.hidden{ data: { header: 'scope' } }
      %th
      %th

  %tbody
    - heat_asset_list.select(&:secondary?).each do |list_item|
      %tr
        %td.editable.key
          %select.form-control.key
            = options_for_secondary_heat_assets(list_item.type)

        %td.editable.investment_costs
          %input.form-control{name: 'investment_costs', value: list_item.investment_costs}

        %td.editable.om_costs_per_year
          %input.form-control{name: 'om_costs_per_year', value: list_item.om_costs_per_year}

        %td.editable.technical_lifetime
          %input.form-control{name: 'technical_lifetime', value: list_item.technical_lifetime}

        %td.editable.stakeholder
          %select.form-control.stakeholder
            = options_for_all_stakeholders(list_item.stakeholder)

        %td.editable.connection_distribution
          %input.form-control{name: 'connection_distribution', value: list_item.connection_distribution}

        %td.editable.hidden
          %input.form-control{name: 'scope', value: 'secondary'}

        %td
          = link_to '#', class: 'add-row text-success' do
            %span.glyphicon.glyphicon-plus

        %td
          = link_to '#', class: 'remove-row text-danger' do
            %span.glyphicon.glyphicon-remove


