%h2 Secondary heat infrastructure

.help-block
  %p
    The table allows you to choose what types of connections to the heat network
    your LES has. The number of connections is determined by how many
    &ldquo;Households water heater district heating&rdquo; and &ldquo;Households
    space heater district heating&rdquo; technologies you have installed in the
    Technologies tab. More information can be found in the
    = succeed '.' do
      %a(href="https://github.com/quintel/etmoses/wiki/Heat-network") documentation

.empty-button{ class: ("hidden" if heat_asset_list.any?) }
  %button.btn.btn-primary Add new Heat asset

%table.table.interactions.heat_asset_list.secondary{ data: { connections: @heat_connections } }
  %thead
    %tr
      %th.col-sm-3{ data: { header: 'type' } } Type
      %th{ data: { header: 'investment_costs' } } Investment [EUR]
      %th{ data: { header: 'om_costs_per_year' } } O&amp;M costs [EUR]
      %th{ data: { header: 'technical_lifetime' } } Technical lifetime [Y]
      %th{ data: { header: 'stakeholder' } } Stakeholder
      %th{ data: { header: 'connection_distribution' } } Percentage of heat connections
      %th.hidden{ data: { header: 'scope' } }
      %th
      %th

  %tfoot.hidden
    = render partial: 'heat_asset_lists/secondary_table_row', locals: { list_item: InstalledHeatAssetLocation.new }

  %tbody
    - heat_asset_list.each do |list_item|
      = render partial: 'heat_asset_lists/secondary_table_row', locals: { list_item: list_item }
