%h1 Welcome

%p
  This application allows you to create, inspect and share calculations for a
  small Local Energy Solution, based on the underlying data from the
  %a{href:'http://et-model.com'} Energy Transition Model
  and real life local energy solutions from
  %a{href:'http://alliander.com'} Alliander
  = "."

%p A Local Energy Solution (LES) consists of three components:

.row
  .col-md-4
    %h3 1. ETM Scenarios
    %p
      Every local energy solution starts with a national scenario from the ETM, and
      a scaled down version of it.
  .col-md-4
    %h3 2. Network Topology
    %p
      A specific network structure needs to be defined. If none is defined,
      a default one is chosen.
  .col-md-4
    %h3 3. Technologies
    %p
      The technologies used in a Local Energy Solution (LES) are taken from the ETM as
      much as possible, and can be adapted to the specific situation by the
      user.

.jumbotron(style="margin-top: 30px")
  %h2 Getting started&hellip;

  %p
    You may start by creating a local energy solution completely from scratch,
    importing an existing, scaled down scenario from the Energy Transition
    Model, or view ready-made local energy solutions for inspiration.

  %p
    %a.btn.btn-lg.btn-success{href: import_testing_grounds_path} Import from the ETM
    %a.btn.btn-lg.btn-default{href: testing_grounds_path} Explore&hellip;
