%h1 Welcome

%p
  As the energy landscape around us changes rapidly, this has a large impact on
  the energy systems at a local level. ETMoses has been developed to model these
  local energy solutions and explore the impact of changing technologies,
  innovative strategies and new market models. ETMoses is based on the
  underlying data from the

  %a{href:'https://energytransitionmodel.com'} Energy Transition Model

  and real life local energy solutions from

  %a{href:'http://alliander.com'} Alliander

  %span>= "."

%p
  Users are encouraged to explore the possibilities of ETMoses. In case you have questions or comments, you can contact
  %a{href:'http://quintel.com/contact'} Quintel
  , the developers of ETMoses. Quintel also offers workshops about how to use ETMoses.

.jumbotron(style="margin-top: 30px")
  %h2 Getting started&hellip;

  %p
    You may start by
    %a{href: testing_grounds_path} opening an existing local energy solution
    or create your own by scaling down a scenario from the Energy Transition
    Model by going through the following steps:

    .etm-explanation
      .scene
        %p 1. Start a new or existing scenario
        = image_tag 'etm-1.png'
      .scene
        %p 2. Scale the scenario
        = image_tag 'etm-2.png'
      .scene
        %p 3. Open in ETMoses
        = image_tag 'etm-3.png'

      .clearfix

  %p
    %a.btn.btn-lg.btn-success{href: "http://#{Settings.etmodel_host}", target: "_blank"} Go to the Energy Transition Model
