%ul
  - load_profile_category.load_profiles.overview(current_user).each do |profile|
    %li
      = link_to profile do
        - if profile.private?
          %span.glyphicon.glyphicon-lock
        = profile.display_name
      %span= I18n.l(profile.created_at, format: :short)
