%h1 List of all Load Profiles available

.load_profiles
  = render partial: "load_profile_categories/load_profile_categories", locals: { load_profile_categories: @load_profile_categories, collapsed: false }
