%h1 List of all Load Profiles available

%table.table.table-bordered
  %tr
    %th Name
    %th Created
  - LoadProfile.all.sort_by(&:display_name).each do |profile|
    %tr
      %td= link_to(profile.display_name, profile)
      %td= profile.created_at
