%h1 List of all Topologies available

.topologies
  %table.table
    %thead
      %tr
        %th Name
        %th Created at
    %tbody
      - @topologies.each do |topology|
        %tr
          %td
            = link_to topology do
              - if topology.private?
                %span.glyphicon.glyphicon-lock
              = (topology.name || "No name specified")

          %td= I18n.l(topology.created_at, format: :short)
