$tooltip-color: #E8E8E8

em.note span.sep
  border-left: 1px solid #999
  padding: 0 0 0 12px
  margin: 0 0 0 8px

.form-group
  position: relative
  max-width: 620px

  .radio-buttons, select
    display: inline-block

.tooltip-link
  margin: 0 0 0 5px
  font-size: 14px
  color: #bbb
  display: inline-block
  + .tooltip
    &.in
      opacity: 1
    &.right .tooltip-arrow
      border-right-color: $tooltip-color
    > .tooltip-inner
      color: black
      background-color: $tooltip-color
      opacity: 1
      max-width: 300px
      text-align: left
      padding: 10px 10px 10px 12px
      text-align: justify

.field_with_errors
  display: inline

.open > .multiselect-container
  padding-top: 5px
  padding-bottom: 5px

  li.active a
    background: lighten(#428bca, 40%)
    color: black

  a
    margin-bottom: 1px

    &:focus
      outline: none

.etm-explanation
  display: table
  .scene
    display: table-cell
    padding-right: 26px

