.bootstrap-filestyle {
  .group-span-filestyle:active {
    // Prevent ugly outline when clicked.
    outline: none;
  }

  .glyphicon {
    margin-right: 4px;
  }

  .form-control {
    border-left: none;
  }
}

.technology-profiles-controls {
  .technology-profiles-control{
    label {
      color: #777;
      font-size: 12px;
      font-weight: normal;
      margin-bottom: 0;
      margin-right: 3px;
    }
  }
}

.load_profiles{
  ul{
    padding-left: 20px;

    li{
      padding: 3px 0;
    }

    li.category{
      cursor: pointer;
    }
  }
}

.profile-curve-file-field{
  margin-bottom: 10px;
}
