table.interactions
  .curve-tariff, .merit-tariff
    display: none

  td, th
    &.tariff-type
      display: none

  .tariff_type
    background: none
    color: #aaa
    float: right
    font-weight: normal
    padding-top: .5em
    padding-right: 0
    text-transform: uppercase

  // Add some extra space around the glyphicons in the tariff type dropdown
  .dropdown-menu .glyphicon
    margin-right: 3px
