nav
  a.navbar-brand
    text-indent: -9999px
    display: inline-block
    width: 230px
    height: 50px
    background:
      image: image-url('logos/testing_grounds.png')
      repeat: no-repeat
      position: left center
      size: 200px

  .pull-right a
    margin-top: 8px

  .user-actions
    padding-top: 2px
