// Place all the styles related to the topology controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 .subtitle {
  color: #777;
  font-size: 18px;
  font-weight: normal;
  margin-left: 5px;
}

h4.edit{
  a{
    color: black;
  }
}

.collapse.edit{
  margin-bottom: 30px;
}

ul.testing-grounds {
  .date {
    color: #777;
    font-size: 1.2em;
    margin-left: 5px;
  }
}

#testing-ground{
  margin: 20px 0;
}

.testing-ground-view {
  border: 1px solid #ddd;
  border-top-color: #ccc;
  background: #eee;
  box-shadow: inset 0 1px 2px #ddd;
  overflow: hidden;
  width: 48%;
  float: left;
  margin-right: 20px;
  height: 100%;

  svg{
    cursor: grab;
  }

  svg:active{
    cursor: grabbing;
  }

  .error {
    padding: 20px;

    .message {
      clear: none;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }

    .detail, .backtrace {
      font-size: 14px;
    }

    .backtrace {
      color: #777;
      font-size: 12px;
      margin: 10px 0 20px;
    }
  }

  .loading {
    color: #777;
    text-align: center;

    h5 {
      margin: 100px 0;
    }

    h5 span.main {
      background: white asset-url("wait.gif") 13px center no-repeat;
      border: 1px solid #ddd;
      border-bottom-color: #ccc;
      border-radius: 5px;
      box-shadow: 0 1px 2px #ddd;
      color: #777;
      font-size: 1.7rem;
      padding: 17px 22px 15px 54px;
      text-transform: uppercase;
    }

    .more {
      display: block;
      font-size: 13px;
      clear: none;
      color: #888;
      text-shadow: 0 1px 0 white;
      width: 300px;
      margin: -70px auto 90px;
    }
  }

  .node {
    cursor: pointer;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .node.selected circle{
    fill: #95E;
    stroke: #63c;
  }

  .node.collapsed circle {
    fill: lightsteelblue;
  }

  .node text {
    font: 12px sans-serif;
  }

  .link {
    fill: none;
    stroke: #bbb;
    stroke-width: 1.5px;
  }

  .node.exceedance {
    circle {
      stroke: #e45a53;
    }

    &.collapsed circle {
      fill: #f0c1c1;
    }
  }
}

.point-changer {
  input[type=text] {
    height: 24px;
    width: 50px;
  }
}

.node-info {
  h5 {
    margin-bottom: 0;
  }

  .download-curve {
    display: none;
    float: right;
  }

  .date-select {
    label {
      font-size: 13px;
      margin-top: 1px;
      margin-right: 10px;

      input {
        cursor: pointer;
        margin-top: 0;
        margin-right: 2px;
        vertical-align: text-top;
      }
    }
  }
}

.load-graph-wrapper{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;

  p{
    margin: 17px 10px 0px 10px;
  }

  .load-graph{
    .chart{
      select{
        margin: 0 10px;
      }
    }
    .chart svg {
      height: 500px;
      margin-bottom: 25px;

      .nv-x .nv-axisMaxMin {
        text {
          text-anchor: start !important;
        }

        &:last-child text {
          text-anchor: end !important;
        }
      }
    }
  }
}

.nvtooltip h3 {
  font-size: 1.5rem;
  letter-spacing: 0;
}

@media (min-width: 550px) {
  .nvtooltip h3 {
    font-size: 1.5rem;
  }
}

#topology-form, .new_testing_ground, .edit_testing_ground, .new_topology, .edit_topology {
  textarea {
    display: block;
    font: 13px/17px monospace;
    margin: 10px 0;
    padding: 5px;
    min-height: 300px;
    width: 600px;
  }

  .ace_editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    font: 14px/18px monospace;
  }

  .editor-wrap {
    height: 400px;
    position: relative;
    width: 800px;
    margin: 0 0 2.5rem;
  }

  input[type=text]:not(.input-sm) {
    width: 500px;
  }

  #testing_ground_technologies_csv {
    font-size: 12px;
  }
}

.new_import, .new_load_profile, .edit_load_profile {
  max-width: 500px;
}

#technologies .row-fluid {
  display: none;

  &.focused {
    display: block;
  }
}

#technologies .technology {
  background: #eee;
  border-radius: 5px;
  font-size: 13px;
  margin-bottom: 20px;

  .inner {
    padding: 5px 10px;
  }

  .quiet {
    color: #777;
  }
}

.or {
  font-size: 11px;
  font-weight: 600;
  padding: 0 1rem;
  text-transform: uppercase;
  color: #888;
}

.errors {
  color: #a31c1c;
}

form.inline .field_with_errors {
  display: inline-block;

  input[type=text], select {
    background: #fee;
    border-color: #a31c1c;
  }
}

.perform-export {
  margin: 20px 0 20px;

  form {
    display: inline-block;
  }
}

.exported-technologies {
  margin-top: 10px;
  overflow: hidden;

  .input-name {
    font-weight: bold;
  }
}

table.table.scenarios{
  margin-top: 20px;
}

.container .node-info svg.nvd3-svg{
  overflow: visible;
}

#new_testing_ground .form-group .form-inline .form-control.inline{
  width: 100px;
}

.container .tab-content{
  padding-bottom: 20px;
  border-bottom: 1px solid #DDD;
}

#profiles-table{
  margin-bottom: 30px;

  td:focus{
    outline: 1px dotted #477caa;
  }

  td.editable.select{
    padding-left: 0px;
  }

  select{
    border: none;
    box-shadow: none;
    padding-left: 6px;
  }

  input{
    border: none;
    width: 100%;
  }
}

.concurrency{
  margin-bottom: 30px;

  .checkboxes{
    margin-top: 10px;
    .check_box{
      width: 330px;
      display: inline-block;
      margin-bottom: 5px;
    }
  }

  .buttons{
    margin-top: 10px;
  }
}

span.loading-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -17px;
  display: none;
}

span.loading-spinner.on{
  display: inline;
}

label.disabled{
  color: #ccc;
  font-weight: normal;
}

select#stakeholders{
  width: 300px;
  margin-top: 10px;
}

.slider-wrapper{
  padding: 5px 0 5px 15px;

  .slider{
    .slider-handle{
      background-image: none;
    }

    .slider-selection {
      background: #BABABA;
    }
  }

  p.note{
    color: #666;
    font-size: 12px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-right: 20px;
  }
}

.btn-group.les{
  margin-top: 12px;
}

.container{
  .header{
    h1{
      float: left;
    }

    .les-controls {
      margin-top: 20px;

      .main-buttons {
        border-left: 1px solid #ccc;
        float: right;
        margin: 0 0 0 10px;
        padding: 0 0 0 10px;

        .glyphicon-pencil {
          margin: 0px 2px 0 0;
          vertical-align: text-top;
        }
      }
    }
  }
}

.tab-pane.edit{
  margin: 15px 20px;
}

ul.nav-tabs > li > a.editing {
  border-bottom: 2px solid gold;
  margin-bottom: -1px;
}

ul.nav-tabs > li > a.error {
  border-bottom: 2px solid #D00;
  margin-bottom: -1px;
}

ul.nav-tabs > li.active > a.editing {
  border-top: 2px solid gold;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  margin-top: -1px;
  margin-bottom: 0;
}

ul.nav-tabs > li.active > a.error {
  border-top: 2px solid #D00;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  margin-top: -1px;
  margin-bottom: 0;
}

#business_case_table{
  position: relative;
}

.last-btns{
  margin: 15px 20px;
}

.finance-table tr.stakeholder td.center{
  background-color: #F3F5F2;
}

.disabled-tab{
  pointer-events: none;
  color: #aaa;
}
