.topology-graph{
  margin: 30px 0;
  .node circle {
     fill: #fff;
     stroke: steelblue;
     stroke-width: 2px;
   }

   .node circle:hover{
     cursor: pointer;
   }

   .node text { font: 12px sans-serif; }

   .link {
     fill: none;
     stroke: #ccc;
     stroke-width: 2px;
   }
}
