%h2 Dispatchable sources

.help-block
  %p
    These sources produce heat following consumption of the heat network. You
    can choose installed capacities and other aspects of dispatchable sources
    in the list below. More information can be found in the
    = succeed '.' do
      %a(href="https://github.com/quintel/etmoses/wiki/Heat-network") documentation

.empty-button{class: ("hidden" if heat_source_list.any?) }
  %button.btn.btn-primary Add new Heat Source

%table.table.interactions.heat_source_list.dispatchable
  %thead{class: ("hidden" if heat_source_list.empty?) }
    %tr
      %td
      %th.col-sm-2{ data: { header: 'key' } } Plant type
      %th{ data: { header: 'heat_capacity' } } Heat capacity [kW]
      %th{ data: { header: 'units' } } Units
      %th{ data: { header: 'stakeholder' } } Stakeholder
      %th{ data: { header: 'total_initial_investment' } } Investment [EUR/kW]
      %th{ data: { header: 'technical_lifetime' } } Technical lifetime [Y]
      %th{ data: { header: 'om_costs_per_year' } } O&amp;M costs [EUR/kW]
      %th{ data: { header: 'distance' } } Distance [km]
      %th.hidden{ data: { header: 'priority' } } Priority
      %th
      %th

  %tfoot.hidden
    = render partial: 'heat_source_lists/dispatchable_table_row', locals: { list_item: InstalledHeatSource.default_dispatchable }

  %tbody.sortable
    - heat_source_list.each do |list_item|
      = render partial: 'heat_source_lists/dispatchable_table_row', locals: { list_item: list_item }
