%h2 Must-run
%table.table.interactions.heat_source_list.multi_table{ data: { type: 'heat_source_list_table'  } }
  %thead
    %tr
      %th.col-sm-3{ data: { header: 'key' } } Plant type
      %th.col-sm-1{ data: { header: 'heat_production' } } Heat production [MWh]
      %th.col-sm-2{ data: { header: 'profile' } } Profile
      %th{ data: { header: 'stakeholder' } } Stakeholder
      %th{ data: { header: 'total_initial_investment' } } Investment [EUR/MWh]
      %th{ data: { header: 'technical_lifetime' } } Technical lifetime [Y]
      %th{ data: { header: 'om_costs_per_year' } } O&M Costs [EUR/MWh]
      %th{ data: { header: 'marginal_costs' } } Marginal costs [EUR/MWh]
      %th{ data: { header: 'distance' } } Distance [km]
      %th.hidden{ data: { header: 'dispatchable' } }
      %th
      %th

  %tbody
    - heat_source_list.reject(&:dispatchable).each do |list_item|
      %tr
        %td.editable
          %select.form-control.key
            = options_for_heat_source_plant_types(list_item.key, :must_run)

        %td.editable
          %input.form-control{name: 'heat_production', value: list_item.heat_production}

        %td.editable.profile
          %select.form-control.profile{data: { type: list_item.profile }, disabled: 'disabled' }

        %td.editable
          %select.form-control.stakeholder
            = options_for_all_stakeholders(list_item.stakeholder)

        %td.editable
          %input.form-control{name: 'total_initial_investment', value: list_item.total_initial_investment}

        %td.editable
          %input.form-control{name: 'technical_lifetime', value: list_item.technical_lifetime}

        %td.editable
          %input.form-control{name: 'om_costs_per_year', value: list_item.om_costs_per_year}

        %td.editable
          %input.form-control{name: 'marginal_costs', value: list_item.marginal_costs}

        %td.editable
          %input.form-control{name: 'distance', value: list_item.distance}

        %td.editable.hidden
          %input.form-control{name: 'dispatchable', value: list_item.dispatchable}

        %td
          = link_to '#', class: 'add-row text-success' do
            %span.glyphicon.glyphicon-plus

        %td
          = link_to '#', class: 'remove-row text-danger' do
            %span.glyphicon.glyphicon-remove
