%h2 Must-run sources

.help-block
  %p
    The sources below produce heat as a by-product (think of power plants or
    heavy industry) and often charge lower costs per kWh of heat produced
    because of this. Must-run sources are not &ldquo;dispatchable&rdquo; in the
    sense that their heat production does not follow demand. You can choose a
    profile which describes the production of these sources for the whole year
    and other aspects of must-run sources in the list below. More information
    can be found in the
    = succeed '.' do
      %a(href="https://github.com/quintel/etmoses/wiki/Heat-network") documentation

.empty-button{ class: ("hidden" if heat_source_list.any?) }
  %button.btn.btn-primary Add new Heat Source

%table.table.interactions.heat_source_list.must_run
  %thead{class: ("hidden" if heat_source_list.empty?) }
    %tr
      %th.col-sm-3{ data: { header: 'key' } } Plant type
      %th.col-sm-1{ data: { header: 'heat_production' } } Heat production [kWh]
      %th.col-sm-2{ data: { header: 'profile' } } Profile
      %th{ data: { header: 'stakeholder' } } Stakeholder
      %th{ data: { header: 'total_initial_investment' } } Investment [EUR/kWh]
      %th{ data: { header: 'technical_lifetime' } } Technical lifetime [Y]
      %th{ data: { header: 'om_costs_per_year' } } O&amp;M Costs [EUR/kWh]
      %th{ data: { header: 'distance' } } Distance [km]
      %th.hidden{ data: { header: 'dispatchable' } }
      %th
      %th

  %tfoot.hidden
    = render partial: 'heat_source_lists/must_run_table_row', locals: { list_item: InstalledHeatSource.default_must_run }

  %tbody
    - heat_source_list.each do |list_item|
      = render partial: 'heat_source_lists/must_run_table_row', locals: { list_item: list_item }
