%footer.footer
  .container
    %p
      Powered by
      %a#alliander{href: 'http://alliander.com'} Alliander
      %a#gasunie{href: 'http://www.gasunie.nl/'} Gasunie
      %a#netbeheernl{href: 'http://www.netbeheernederland.nl/'} Netbeheer NL
